/*-----------------------
Navigation
-----------------------*/

// Site Navigation Styles
// ========================================
$mobile-nav-height: 58px;
$desktop-nav-height: 70px;

.membership-navigation{
  height: $desktop-nav-height;
  @include rem(padding, 20px 20px);
  position: relative;
  text-align: center;
  width: 100%;
  @include position(absolute, 0 null null null);
  @include transition(all 0.3s ease-in-out);
  z-index: 2;
}


/*-----------------------
Logo
-----------------------*/
.logo{
  color: $white-base;
  @include rem(margin-bottom, 0px);
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5px;

  @include media($tablet) {
    float: left;
  }

  a{
    vertical-align: sub;
  }

  &:hover{
    color: $white-base;
    opacity: 0.6;
  }
}

/*-----------------------
Primary Nav
-----------------------*/
.membership-navigation{

  nav{
    text-align: right;
    float: right;
    @include mobile-hide;
  }

  li{
    display: inline-block;
    @include rem(margin, 0 0 0 25px);
    text-transform: uppercase;
    vertical-align: top;

    a{
      color: $white-base;
      @include s-small;
      text-decoration: none;

      &:hover{
        opacity: 0.6;
      }
    }

  }
}

/*-----------------------
Page Header
-----------------------*/
.page-header {
  @include rem(padding, 80px 20px);
  position: relative;
  width: 100%;
  z-index: 1;

  @include media($tablet){
    height: 600px;
  }


  &:after{
    background-color: #15191C;
    content: "";
    @include position(absolute, 0px 0px 0px 0px);
    opacity: 0.2;
    z-index: -1;
  }

  h1, p { color: $white-base;  }

  .text-block{
    @include animation(fade-in 1.5s ease);
    text-align: center;

    @include media($tablet){
      width: 800px;
      @include vertical-horizontal-center;
    }

    h1{
      font-weight: 900;
      @include s-bigger;
      line-height: normal;

      @include media($tablet){
        @include s-mega;
        line-height: 1;
      }
    }

    p{
      display: block;
      @include s-big;
      line-height: 1.3;
      @include rem(margin-top, 15px);
      max-width: 600px;
      @include center;
    }
  }
}

/*-----------------------
Presentation
-----------------------*/
.membership-block{
  @include outer-container;
  @include rem(padding, 20px);
  max-width: 1000px;

  @include media($tablet) { @include rem(padding, 60px 20px); }
}

.presentation-item{
  border-bottom: 1px solid $white-med;
  @include rem(margin-bottom, 30px);
  @include rem(padding-bottom, 25px);

  &:last-child{
    border-bottom: none;
    @include rem(margin-bottom, 0px);
    @include rem(padding-bottom, 0px);
  }

  h2{
    color: $black-base;
    @include font-type($primary-sans-serif, normal, $bold);
    text-transform: none;
  }
}

.video-thumbnail{
  height: 200px;
}

/*-----------------------
Upgrade Block
-----------------------*/
.upgrade{
  background-color: $white-light;
  @include rem(padding, 20px);
  @include rem(margin-bottom, 30px);

  p{
    @include rem(margin-bottom, 20px);
    line-height: 1.5;

    @include media($tablet){
      @include rem(margin-bottom, 0px);
    }
  }

  .button-primary{
    @include media($tablet){
      float: right;
    }
  }
}