/*-----------------------
Table
-----------------------*/

table{
  background-color: $white-base;
  @include rem(margin-bottom, 20px);
  table-layout: fixed;
  width: 100%;

  th, td {
    color: $black-base;
    display: table-cell;
    @include rem(margin, 15px 5px);
    @include rem(padding, 12px 10px 12px 0px);
    @include s-base;
    text-align: left;
    line-height: 1.5;
    width: inherit;
    vertical-align: top;

    &:first-child{
      width: 120px;
    }
  }

  th, td:before {
    color: $grey-base;
    font-weight: $bold;
    @include s-base;
  }

  th{
    background-color: $blue-base;
    color: $white-base;
    cursor: pointer;
    width: 100%;
  }

  tbody{
    overflow: auto;

    tr{
      &:nth-child(even){
        background-color: rgba(lighten($blue-base, 35%), 0.7);
      }
    }
  }
}