/*-----------------------
Tile Header
-----------------------*/
.tile-header{
  display: inline-block;
  width: 100%;

  h5{
    color: $blue-base;
    float: left;
  }

  p{
    @include s-small;
    float: right;
    line-height: normal;
    vertical-align: top;
  }
}

/*-----------------------
Card Header
-----------------------*/
.card-header{
  position: relative;

  h5{
    @include rem(margin-bottom, 5px);
  }

  p{
    line-height: normal;
  }
}

/*-----------------------
With Editing
-----------------------*/
.with-editing{
  cursor: pointer;
  @include transition (all 0.3s ease-in-out);

  h5, p{
    @include transition (all 0.3s ease-in-out);
  }

  h5{
    @include rem(padding-right, 20px);
  }

  &.card-header{
    &:hover{
      h5, p{
        opacity: 0.5;
      }
    }
  }

  &:hover{

    &:after{
      background-image: asset-url("pencil.svg");
      background-size: 17px;
      content: "";
      display: block;
      height: 17px;
      @include position(absolute, 0px 0px null null);
      opacity: 0.2;
      width: 17px;

      &:hover{
        background-color: $blue-base;
      }
    }
  }
}

/*-----------------------
Title Links
-----------------------*/
.tile-links{
  border-top: 1px solid $white-med;
  @include rem(margin, 15px -15px -2px);

  a{
    background-color: $blue-light;
    display: inline-block;
    @include rem(padding, 10px 5px);
    @include s-small;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover{
      background-color: darken($blue-light, 3%);
    }
  }

  &.two-links{
    display: inline-block;
    width: calc(100% + 34px);

    li{
      display: inline-block;
      float: left;
      width: 50%;

      &:first-child{
        border-right: 1px solid $white-med;
      }
    }

  }
}

/*-----------------------
Dragable Edit Button
-----------------------*/
.dragable{

  &:hover{
    .edit img{
      display: block;
    }
  }
}

.edit {
  img{
    display: none;
    @include position(absolute, 18px 10px null null);
    @include transition (all 0.3s ease-in-out);
    opacity: 0.2;
    @include rem(padding, 5px 5px 3px);
    width: 27px;
    border-radius: 3px;

    &:hover{
      background-color: $blue-base;
    }
  }

  &:hover{
    .dropdown{
      display: block
    }
  }

  .dropdown{
    background-color: $white-base;
    box-shadow: 0 0 18px 0 rgba(232,232,232,0.50);
    display: none;
    @include position(absolute, 43px 10px null null);
    @include rem(padding, 10px 15px);
    @include s-small;
    z-index: 4;

    a{
      text-decoration: none;
    }
  }
}

