//MAIN COLORS

  //BLACK
    $black-light:  #44525A;
    $black-base:   #4A4A4A;
    $black-dark:   #15191C;

  //BLUE
    $blue-light:   #ECF2F6;
    $blue-base:    #15A4FA;
    $blue-dark:    #1192E0;
    $blue-darker:  #000000;

  //GREEN
    $green-light:  #D0E7B6;
    $green-base:   #47C195;
    $green-dark:   #389E79;

  //GREY
    $grey-lighter: #EEEEEE;
    $grey-light:   #FAFAFA;
    $grey-med:     #f1f1f1;
    $grey-base:    #A9A9A9;
    $grey-dark:    #767676;

  //RED
    $red-light:    #EBCACA;
    $red-base:     #C70018;
    $red-dark:     #b30016;

  //YELLOW
    $yellow-light: #FFD980;
    $yellow-base:  #EBB129;
    $yellow-dark:  #E5A100;

  //WHITE
    $white-light:  #f2f2f2;
    $white-base:   #FFFFFF;
    $white-med:    #DEDEDE;
    $white-dark:   #F7F7F7;


  //MAIN PALETTE LIST
  $colors: (
    black-light   $black-light,
    black-base    $black-base,
    black-dark    $black-dark,
    blue-light    $blue-light,
    blue-base     $blue-base,
    blue-dark     $blue-dark,
    blue-darker   $blue-darker,
    grey-light    $grey-light,
    grey-base     $grey-base,
    grey-med      $grey-med,
    grey-dark     $grey-dark,
    green-base    $green-base,
    green-dark    $green-dark,
    red-light     $red-light,
    red-base      $red-base,
    red-dark      $red-dark,
    yellow-light  $yellow-light,
    yellow-base   $yellow-base,
    yellow-dark   $yellow-dark,
    white-light   $white-light,
    white-base    $white-base,
    white-dark    $white-dark
  );
